{% extends "components/layout.html" %}
{% block content %}
<h1 style="text-align: center;">Comprar a un proveedor</h1>
<form action="/ImprimirCompra" method="post" style="justify-content: center;">
    <div class="form-group">
        <label for="nombrepro" class="col-sm-4 col-form-label" style="text-align: center;">Ingrese el nombre de un
            proveedor</label>
        <div class="col-sm-5">
            <select style="justify-content: center;" class="form-control" id="nombrepro" name="nombrepro">
                <option>Selecciona un proveedor</option>
                {% for proveedor in nombres_proveedores %}
                <option>{{ proveedor[0] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="nombremat" class="col-sm-4 col-form-label" style="text-align: center;">Seleccione el material que
            necesita - Precio</label>
        <div class="col-sm-5">
            <select style="justify-content: center;" class="form-control" id="nombremat" name="nombremat">
                <option>Selecciona un material</option>
                {% for material in nombres_materiales_con_precio %}
                <option>{{ material[0] }} - {{ material[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="descripcion" class="col-sm-5 row-form-label" style="text-align: center;">Por favor. Especifique el
            tiempo en que necesita los materiales</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
        </div>
    </div>
    <div class="col-sm-5 text-center">
        <a href="/back-to-user" class="btn btn-primary">Volver</a>
        <button type="submit" class="btn btn-warning">Imprimir pedido</button>
    </div>
</form>
{% endblock %}