{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}
<div class="row m-sm-5 m-3">
  <h1 class="col">Perfil Usuario</h1>
</div>

<div class="row justify-content-center">
  <div class="card col-5" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Hola<mark>{{ data_user[3] }}</mark></h5>
      <p class="card-text">Esta es tu informacion</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre: <mark>{{ data_user[1] }}</mark></li>
      <li class="list-group-item">Apellido: <mark>{{ data_user[2] }}</mark></li>
    </ul>
  </div>
</div>
{% endblock %}