{% extends "components/layout.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre del cliente</th>
            <th scope="col">Material</th>
            <th scope="col">Detalles</th>
            <th scope="col">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta[1] }}</td>
            <td>{{ venta[2] }}</td>
            <td>{{ venta[3] }}</td>
            <td>
                <a href="#" class="btn btn-warning">Imprimir Factura</a>
                <a href="/BorrarVenta/{{ venta[0] }}/delete" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/back-to-user" class="btn btn-primary">Volver</a>
{% endblock %}